LENGM/2EV/UD6_XML/Clase/Videojuegos/videojuegos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="videojuego" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"></xs:element>
                            <xs:element name="desarrolladora" type="xs:string"></xs:element>
                            <xs:element name="año" type="xs:integer"></xs:element>
                            <xs:element name="plataformas">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="plataforma" maxOccurs="unbounded" type="xs:string"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="genero" type="xs:string"></xs:element>
                            <xs:element name="precio" type="xs:decimal"></xs:element>
                            <xs:element name="valoracion" type="xs:decimal"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>